#card-form, #card-result{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    margin: 10px 0px 10px 0px;
}



#botao , #botao-volta{
    width: 100%;
    margin: 10px 0px 10px 0px;
}