<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sorveteria
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="../assets/imagem/sorveteria.jpg"/>
    <ion-card-header>
      <ion-card-subtitle>Sorveteria</ion-card-subtitle>
      <ion-card-title>Unincor</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <h1>Universidade Vale do Rio Verde</h1>
     <p>Três Corações</p>
    </ion-card-content>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/qzsqKqKlxxc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </ion-card>
</ion-content>
